body {
    background-image: url(home.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
h1 {
    color: aliceblue;
    text-align: justify;
}
h2 {
    color: aliceblue;
    text-align: justify;
    margin-left: 25px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center
    
  }
  img {
    max-width: 100%
  }
  .image {
    background-color: aliceblue;
}
  .text {
    font-size: 20px;
    text-align: justify;
    padding-left: 20px;
  }
p {
    color: aliceblue;
    font-size: large;
    text-indent: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
button {
    border: none;
    color: blue;
    background-color: white;
    font-size: xx-large;
    align-items: center;
    margin-left: 600px;
    margin-top: 150px;
}
footer{
    color: aliceblue;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    font-size: large;
}